/* Navbar.css */
.centered-auth-card {
    position: relative;
    background-color: #fff;
    padding: 35px;
    border-radius: 16px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 15px 50px rgba(0,0,0,0.3);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-close-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal-close-icon {
    font-size: 25px;
    color: #333;
}

.nav-links-logged-in {
    width: 100%;
    justify-content: space-around;
}
